<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="nanodev.ru" value="https://nuget.nanodev.ru/nuget" />
    <add key="drz" value="d:\@Developers\Programmers\!NET\packages\" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceMapping>
    <packageSource key="Package source">
        <package pattern="pdf" />
      <package pattern="PDFsharp-MigraDoc-gdi" />
      <package pattern="BouncyCastle" />
      <package pattern="iTextSharp" />
      <package pattern="nanoCAD.Platform.NET" />
      <package pattern="MultiCAD.NET" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="NLog" />
      <package pattern="Avalonia.Themes.Fluent" />
      <package pattern="ClosedXML" />
      <package pattern="NickBuhro.Translit" />
      <package pattern="PDFsharp-GDI" />
      <package pattern="System.Formats.Asn1" />
      <package pattern="System.Security.Cryptography.Pkcs" />
      <package pattern="Microsoft.Xaml.Behaviors.Wpf" />
      <package pattern="Microsoft.NETCore.Platforms" />
      <package pattern="Microsoft.NETCore.Targets" />
      <package pattern="Microsoft.Win32.Primitives" />
      <package pattern="NETStandard.Library" />
      <package pattern="runtime.debian.8-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.fedora.23-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.fedora.24-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.native.System" />
      <package pattern="runtime.native.System.IO.Compression" />
      <package pattern="runtime.native.System.Net.Http" />
      <package pattern="runtime.native.System.Security.Cryptography.Apple" />
      <package pattern="runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.opensuse.13.2-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.opensuse.42.1-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography.Apple" />
      <package pattern="runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.rhel.7-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.ubuntu.14.04-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.ubuntu.16.04-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.ubuntu.16.10-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="System.AppContext" />
      <package pattern="System.Buffers" />
      <package pattern="System.Collections" />
      <package pattern="System.Collections.Concurrent" />
      <package pattern="System.Console" />
      <package pattern="System.Diagnostics.Debug" />
      <package pattern="System.Diagnostics.DiagnosticSource" />
      <package pattern="System.Diagnostics.Tools" />
      <package pattern="System.Diagnostics.Tracing" />
      <package pattern="System.Globalization" />
      <package pattern="System.Globalization.Calendars" />
      <package pattern="System.Globalization.Extensions" />
      <package pattern="System.IO" />
      <package pattern="System.IO.Compression" />
      <package pattern="System.IO.Compression.ZipFile" />
      <package pattern="System.IO.FileSystem" />
      <package pattern="System.IO.FileSystem.Primitives" />
      <package pattern="System.Linq" />
      <package pattern="System.Linq.Expressions" />
      <package pattern="System.Net.Http" />
      <package pattern="System.Net.Primitives" />
      <package pattern="System.Net.Sockets" />
      <package pattern="System.ObjectModel" />
      <package pattern="System.Reflection" />
      <package pattern="System.Reflection.Emit" />
      <package pattern="System.Reflection.Emit.ILGeneration" />
      <package pattern="System.Reflection.Emit.Lightweight" />
      <package pattern="System.Reflection.Extensions" />
      <package pattern="System.Reflection.Primitives" />
      <package pattern="System.Reflection.TypeExtensions" />
      <package pattern="System.Resources.ResourceManager" />
      <package pattern="System.Runtime" />
      <package pattern="System.Runtime.Extensions" />
      <package pattern="System.Runtime.Handles" />
      <package pattern="System.Runtime.InteropServices" />
      <package pattern="System.Runtime.InteropServices.RuntimeInformation" />
      <package pattern="System.Runtime.Numerics" />
      <package pattern="System.Security.Cryptography.Algorithms" />
      <package pattern="System.Security.Cryptography.Cng" />
      <package pattern="System.Security.Cryptography.Csp" />
      <package pattern="System.Security.Cryptography.Encoding" />
      <package pattern="System.Security.Cryptography.OpenSsl" />
      <package pattern="System.Security.Cryptography.Primitives" />
      <package pattern="System.Security.Cryptography.X509Certificates" />
      <package pattern="System.Text.Encoding" />
      <package pattern="System.Text.Encoding.Extensions" />
      <package pattern="System.Text.RegularExpressions" />
      <package pattern="System.Threading" />
      <package pattern="System.Threading.Tasks" />
      <package pattern="System.Threading.Tasks.Extensions" />
      <package pattern="System.Threading.Timer" />
      <package pattern="System.Xml.ReaderWriter" />
      <package pattern="System.Xml.XDocument" />
      <package pattern="ClosedXML.Parser" />
      <package pattern="DocumentFormat.OpenXml" />
      <package pattern="DocumentFormat.OpenXml.Framework" />
      <package pattern="ExcelNumberFormat" />
      <package pattern="RBush.Signed" />
      <package pattern="SixLabors.Fonts" />
      <package pattern="System.IO.Packaging" />
      <package pattern="Irony.NetCore" />
      <package pattern="Microsoft.CSharp" />
      <package pattern="System.Memory" />
      <package pattern="XLParser" />
      <package pattern="FastMember.Signed" />
      <package pattern="runtime.native.System.Data.SqlClient.sni" />
      <package pattern="runtime.native.System.Net.Security" />
      <package pattern="runtime.native.System.Security.Cryptography" />
      <package pattern="runtime.win7-x64.runtime.native.System.Data.SqlClient.sni" />
      <package pattern="runtime.win7-x86.runtime.native.System.Data.SqlClient.sni" />
      <package pattern="System.Collections.NonGeneric" />
      <package pattern="System.Data.Common" />
      <package pattern="System.Data.SqlClient" />
      <package pattern="System.Dynamic.Runtime" />
      <package pattern="System.IO.Pipes" />
      <package pattern="System.Net.NameResolution" />
      <package pattern="System.Net.Security" />
      <package pattern="System.Security.Claims" />
      <package pattern="System.Security.Principal" />
      <package pattern="System.Security.Principal.Windows" />
      <package pattern="System.Text.Encoding.CodePages" />
      <package pattern="System.Threading.Overlapped" />
      <package pattern="System.Threading.Thread" />
      <package pattern="System.Threading.ThreadPool" />
      <package pattern="Cyrillic.Convert" />
      <package pattern="RussianTransliterator" />
      <package pattern="ini-parser" />
      <package pattern="ini-parser-netstandard" />
      <package pattern="Avalonia" />
      <package pattern="Avalonia.Angle.Windows.Natives" />
      <package pattern="Avalonia.BuildServices" />
      <package pattern="Avalonia.Desktop" />
      <package pattern="Avalonia.FreeDesktop" />
      <package pattern="Avalonia.Native" />
      <package pattern="Avalonia.Remote.Protocol" />
      <package pattern="Avalonia.Skia" />
      <package pattern="Avalonia.Win32" />
      <package pattern="Avalonia.X11" />
      <package pattern="HarfBuzzSharp" />
      <package pattern="HarfBuzzSharp.NativeAssets.Linux" />
      <package pattern="HarfBuzzSharp.NativeAssets.macOS" />
      <package pattern="HarfBuzzSharp.NativeAssets.WebAssembly" />
      <package pattern="HarfBuzzSharp.NativeAssets.Win32" />
      <package pattern="MicroCom.Runtime" />
      <package pattern="SkiaSharp" />
      <package pattern="SkiaSharp.NativeAssets.Linux" />
      <package pattern="SkiaSharp.NativeAssets.macOS" />
      <package pattern="SkiaSharp.NativeAssets.WebAssembly" />
      <package pattern="SkiaSharp.NativeAssets.Win32" />
      <package pattern="System.IO.Pipelines" />
      <package pattern="System.Runtime.CompilerServices.Unsafe" />
      <package pattern="Tmds.DBus.Protocol" />
      <package pattern="Avalonia.Markup.Xaml.Loader" />
      <package pattern="SimpleInjector" />
      <package pattern="System.ComponentModel" />
      <package pattern="AutoCAD.NET.Core" />
      <package pattern="AutoCAD.NET.Model" />
      <package pattern="AutoCAD.NET" />
      <package pattern="Microsoft.Management.Infrastructure" />
      <package pattern="Microsoft.Management.Infrastructure.Runtime.Unix" />
      <package pattern="Microsoft.Management.Infrastructure.Runtime.Win" />
      <package pattern="Microsoft.Win32.Registry" />
      <package pattern="System.Numerics.Vectors" />
      <package pattern="System.Security.AccessControl" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Microsoft.Extensions.Logging.Abstractions" />
      <package pattern="PDFsharp" />
      <package pattern="YamlDotNet" />
      <package pattern="Microsoft.ApplicationInsights" />
      <package pattern="Microsoft.CodeCoverage" />
      <package pattern="Microsoft.NET.Test.Sdk" />
      <package pattern="Microsoft.Testing.Extensions.Telemetry" />
      <package pattern="Microsoft.Testing.Extensions.TrxReport.Abstractions" />
      <package pattern="Microsoft.Testing.Extensions.VSTestBridge" />
      <package pattern="Microsoft.Testing.Platform" />
      <package pattern="Microsoft.Testing.Platform.MSBuild" />
      <package pattern="Microsoft.TestPlatform.ObjectModel" />
      <package pattern="Microsoft.TestPlatform.TestHost" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="NUnit" />
      <package pattern="NUnit3TestAdapter" />
      <package pattern="System.Reflection.Metadata" />
    </packageSource>
    <packageSource key="nanodev.ru">
      <package pattern="MultiCAD.NET" />
      <package pattern="nanoCAD.Platform.NET" />
    </packageSource>
    <packageSource key="drz">
      <package pattern="drzNLog" />
    </packageSource>
  </packageSourceMapping>
</configuration>